<p>  
    Enter you name @Html.TextBox("Name")  
    <input type="submit" id="SubmitName" value="Submit"/>  
</p>   
<script type="text/jscript">  
    $('#SubmitName').click(function () {  
        var url = "/Home/WelcomeMsg";  
        var name = $('#Name').val();  
        $.get(url, { input: name }, function (data) {  
            $("#rData").html(data);  
        });  
    })  
</script> 

<table>
<tr *ngFor="let employee of allEmployees|async">
    <td>{{employee.Empid}}</td>
    <td>{{employee.Name}}</td>
    <td>{{employee.Level}}</td>
    <td>{{employee.Password}}</td>

</tr>

</table>